<!DOCTYPE html>
<html>
<head>
  <% include header.ejs%>
</head>
<body>

  <h1>Vinyl</h1>

  <h2>Records</h2>

  <div class="album-list">
    <% albums.forEach(function(album) { %>
      <div>
        <h5><a href="/albums/<%= album.id %>"><%= album.title %></a></h5>
        <span><%= album.artist %></span>
      </div>
    <% }) %>
    <br>
    <h3>Recent Reviews</h3>
    <br>
    <% reviews.forEach(review => { %>

      <br>
      <%= review.title %> by <%= review.artist %>
      <br>
      <br>
      <%= review.text %>

      <% if( review.user_id === user.id ){ %>
        <button onClick = 'deleteReview( <%= review.id %> )'>Delete</button>
        <% } %>
      <br>
      reviewed by
      <a href='/profile/<%= review.user_id %>'>
      <%= review.name%>
      </a>
      <br>
      <br>
    <% }) %>
  </div>

</body>
</html>
