<!DOCTYPE html>
<html>
<head>
  <% include header.ejs%>
</head>
<body>
  <h2> <%= viewingUser.name%> </h2>
  <h3> <%= viewingUser.email%> </h3>
  <h4> Member since <%= viewingUser.timeCreated%> </h4>
  <h3> <%= viewingUser.name%>'s Reviews: </h3>

  <% reviews.forEach(review => { %>

    <br>
    '<%= review.title %>' by <%= review.artist %>
    <br>
    <br>
    <%= review.text %>
    <% if( login && review.user_id === user.id ){ %>
      <button onClick = 'deleteReview( <%= review.id %> )'>Delete</button>
      <% } %>
    <br>
    <br>
    <br>
  <% }) %>

</body>
</html>
